footer(class=" w-full bg-zinc-100")
  div(class=" flex justify-center items-center flex-row border-t-2 border-b-slate-700")
    div(class=" text-center m-5") 
      a(href='https://www.bloomexperiences.com/') Experiencies
    div(class=" text-center m-5") 
      a(href='https://www.bloomexperiences.com/calendar') Calendar
    div(class=" text-center m-5")
      a(href='/') blog
    div(class=" text-center m-5")
      a(href='https://www.bloomexperiences.com/contact-us') contact-us
  p(class="text-center mb-3") Copyright (c) bloomexperiences.com