head
  title= title
  link(href="https://db.onlinewebfonts.com/c/9a7e574c3eda05d71d03345d3f9e268e?family=FuturaLTW01-LightOblique" rel="stylesheet" type="text/css")
  link(rel="stylesheet" href="/stylesheets/masonry.css")
  link(rel="stylesheet" href="/stylesheets/modal.css")
  link(rel='stylesheet' href='/stylesheets/style.css')


