extends layout
block content
  div(class="w-8/12 ml-auto mr-auto")
    div(class="border-t-2 min-h-full") 
      div(class=" grid grid-cols-4")
        each post in posts
          div(class="float-left hover:border-color-primary border-solid hover:border-2")
            a(href=post.url)
              img(src=post.mainImage alt=post.name )
